body {
    color: #333333;
    font-family: "Lucinda Sans Unicode","Lucinda Grande",sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1{
    background-color: darkseagreen;
    /*background-image: url(  capa.jpeg  );*/
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure {
    background-color: #FFF /*#F2EDED*/;
    border: 5px solid #fff;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 10px 5px;
    text-indent: 15px;
    text-align: left;
    font-size: 22px;    
}

#rodape {
    color: #777;
    margin: 20px 0;
    padding: 20px 0;
}
#rodape img{
    margin-right: 30px;
    margin-left: 10px;
    vertical-align: middle;
    width: 64px;
}
#fig1{
    width: 350px;
    float: right;
}